.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48pt;
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

.header-image {
  background-image: url('./book.jpg') !important;
  background-size: cover !important;
  max-height: 35vh;
}

.image {
  height: 200px;
}

/* li a {
   display:block;
} */

/* .test {
  width: 100%;
} */

.display-book {
  width: 80%;
}

.searched-books-container{
  width: 80%;
}

.my-books-sidebar{
  width: 20%;
  margin: 20px;
  text-align: left;
}

.my-books-container{
  width: 100%;
  margin: 20px;
}

.component-row{display:flex;
  flex-direction:row;}

.nav-item{
  font-size: 14pt;
  width: 7em;
  text-align: center;
  align-content: center;
}
/* .test{
  background-color: #61dafb;
} */

.book-card{
  padding: 3em;
}

.book-background{
  
  /* background-image: url('./book.jpg') !important; */
  background-image: url('https://preview.redd.it/ijyuj3s0o7p21.jpg?width=1024&auto=webp&s=974d0383522f920ce9f592a3b1772e7258ab19d2') !important;
  background-size: cover !important;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  max-height: 100vh;
}

.login-card{
  width: 30%;
  margin-left: 15%;
  padding-top: 3%
}

.login-card-inner{
  padding-top: 3%;
  margin: 3%
}

.gradient-background{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
